---
title: Lorban
---

<p>
    This novel is set in the Kormar countryside where the native language is
    Lorban. This is notionally translated into English, but there are certain
    quirks of the language that stand being called out.
</p>

<ul>
    <li>Lorban is roughly based on a casual form of Lojban.</li>
    <li>
        Names rarely start or end with vowels and native speakers have trouble
        with Miwāfu vowel endings.
    </li>
    <li>
        Lorban is accentless which causes trouble with Miwāfu array of tones.
    </li>
    <li>
        The letter &#8220;c&#8221; is soft and always pronounced as
        &#8220;sh&#8221; in &#8220;shape.&#8221;
    </li>
</ul>

<p>
    Lorban has no capital letters, they are added to satisfy English
    conventions.
</p>
