---
title: Title
---

<div class="title">
    <div class="title-area">
{{#each title_lines}}
        <div class="large">{{this}}</div>
{{/each}}
    </div>

    <div class="author">D. Moonfire</div>

    <div class="publisher">Broken Typewriter Press &#8226; Cedar Rapids</div>
</div>
