#!/usr/bin/env bash

# Move into the root folder.
cd $(dirname $(dirname $0))

# Run the setup commands.
./scripts/setup-fonts.sh || exit 1
{{#if has_cover}}./scripts/setup-fedran-covers.sh || exit 1{{/if}}
./scripts/setup-node.sh || exit 1
