{
  "name": "{{title_slug}}",
  "version": "{{version}}",
  "private": true,
  "description": "\"{{title}}\" is a {{lower length}} by D. Moonfire.",
  "author": {
    "name": "D. Moonfire"
  },
  "license": "CC-BY-NC-SA-4.0",
  "repository": {
    "type": "git",
    "url": "git+https://src.mfgames.com/fedran-sources/{{title_slug}}.git"
  },
  "homepage": "https://fedran.com/{{title_slug}}/",
  "scripts": {
    "build:pdf": "mfgames-writing-format build pdf",
    "build:epub": "mfgames-writing-format build epub",
    "build:docx": "mfgames-writing-format build docx",
    "build": "run-s build:*",
    "prepare": "husky install"
  },
  "dependencies": {
    "@fedran/writing-hyphen": "^1.0.0",
    "@fedran/writing-theme": "^4.0.2",
    "@mfgames-writing/contracts": "^4.4.0",
    "@mfgames-writing/docx-format": "^1.0.2",
    "@mfgames-writing/epub2-format": "^2.1.1",
    "@mfgames-writing/format": "^3.3.1",
    "@mfgames-writing/guillemet": "^1.0.0",
    "@mfgames-writing/hyphen-pipeline": "^1.0.2",
    "@mfgames-writing/liquid-theme": "^2.1.1",
    "@mfgames-writing/weasyprint-format": "^5.0.4",
    "markdown-it-multimd-table": "^4.1.3"
  },
  "devDependencies": {
    "@commitlint/cli": "^15.0.0",
    "@commitlint/config-conventional": "^15.0.0",
    "@saithodev/semantic-release-gitea": "^2.1.0",
    "@semantic-release/changelog": "^6.0.1",
    "@semantic-release/exec": "^6.0.3",
    "@semantic-release/git": "^10.0.1",
    "@semantic-release/npm": "^8.0.3",
    "@semantic-release/release-notes-generator": "^10.0.3",
    "husky": "^7.0.2",
    "markdowny": "^0.2.1",
    "npm-run-all": "^4.1.5",
    "prettier": "^2.0.5",
    "semantic-release": "^18.0.1"
  }
}
