{
    "metadata": {
        "title": "{{title}}",
        "author": "D. Moonfire",
        "language": "en",
        "theme": "@fedran/writing-theme",
        "outputDirectory": ".",
        "outputFilename": "dmoonfire-{{braces "edition.fedran.source.identifier_slug" }}-{{braces "edition.version" }}.{{braces "edition.ext" }}",
        "markdown": {
            "extensions": [
                {
                    "package": "markdown-it-multimd-table",
                    "options": {
                        "headerless": true
                    }
                }
            ]
        },
        "style": {
            "css": "td { width: 6em; } td[colspan=\"2\"] { width: 12em; }"
        }
    },
    "includes": [
        {
            "json": "./fedran.json",
            "merge": "metadata.fedran"
        }
    ],
    "editions": {
        "epub": {
            "format": "@mfgames-writing/epub2-format",
            "ext": "epub"
        },
        "pdf": {
            "format": "@mfgames-writing/weasyprint-format",
            "isbn": "{{ edition.fedran.source.print.isbn }}",
            "images": {
                "grayscale": true,
                "opaque": true
            },
            "ext": "pdf"
        },
        "docx": {
            "format": "@mfgames-writing/docx-format",
            "ext": "docx"
        }
    },
    "contents": [
{{#if has_cover}}
        {
            "element": "cover",
            "source": "build/fedran-covers/pov/covers/{{cover_slug}}.jpg",
            "linear": false,
            "exclude": {
                "editions": ["pdf"],
                "toc": true
            }
        },
{{/if}}
        {
            "element": "bastard",
            "source": "matter/title.html",
            "linear": false,
            "exclude": {
                "editions": ["epub", "html"],
                "toc": true
            }
        },
        {
            "element": "title",
            "source": "matter/title.html",
            "linear": false,
            "exclude": {
                "toc": true
            }
        },
        {
            "element": "legal",
            "source": "matter/legal.md",
            "liquid": true,
            "linear": false
        },
{{#if has_dedication}}
        {
            "element": "dedication",
            "source": "matter/dedication.md",
            "linear": false
        },
{{/if}}
        {
            "element": "toc",
            "linear": false,
            "title": "Contents",
            "exclude": {
                "editions": ["pdf"]
            }
        },
{{#if has_miwafu }}
        {
            "element": "preface",
            "source": "matter/miwafu.html",
            "linear": false
        },
{{/if}}
{{#if has_lorban}}
        {
            "element": "preface",
            "source": "matter/lorban.html",
            "linear": false
        },
        {
            "element": "bastard",
            "source": "matter/pad.html",
            "linear": false,
            "exclude": {
                "editions": ["epub", "html"],
                "toc": false
            }
        },
{{/if}}
        {
            "element": "chapter",
            "number": 1,
            "directory": "chapters",
            "source": "/^chapter-\\d+.(markdown|md)$/",
            "start": true,
            "page": 1,
            "pipeline": [
                {
                    "module": "@mfgames-writing/guillemet"
                },
                {
                    "module": "@fedran/writing-hyphen"
                },
                {
                    "module": "@mfgames-writing/hyphen-pipeline",
                    "exclude": ["`.*?`", "<code>.*?</code>"]
                }
            ]
        },
        {
            "element": "appendix",
            "source": "matter/about.md"
        },
        {
            "element": "appendix",
            "source": "matter/fedran.md"
        },
{{#if credits}}
        {
            "element": "appendix",
            "source": "matter/credits.md"
        },
{{/if}}
        {
            "element": "appendix",
            "id": "license",
            "source": "matter/license.md"
        }
    ]
}
